:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* add black outline to font*/
  text-shadow: 0 0 5px #000;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* align all items to centre of page */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
#app {
  width: 30%;
  background-image: url('./src/chucknorris.jpeg');
  padding: 50px;
}
.joke__add{
  display: flex;
  background-color: rgb(230,8,16);
  width: 30%;
  padding: 50px;
  padding-top: 10px ;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;

}
.joke__add img{
  display: inline;
}
.joke__add p{
  display: inline;
  color: white;
  
  
  margin: 0;
  padding: 2em;
}
